# WireGuard config files (contain secrets!)
*.conf

# Log- und Ergebnisdateien
*.log
*.txt

# Backup-Dateien & temporäre Editorenreste
*.swp
*.swo
*.bak
*~
.DS_Store
Thumbs.db

# Python (für spätere Erweiterungen z. B. Tools, GUI, Parser)
__pycache__/
*.pyc
.venv/
venv/
